<% if user_signed_in? %>
  <h1>You're logged in!</h1>
<% else %>
  <%= render 'layouts/header' %>
  <div class="jumbotron">
        <h1>Discover new startups</h1>
        <h1>save them for later</h1>
        <p class="lead">Stop forgetiing companies you find interesting. Cut that nonsense out. Just save them with us, tag them, and search when needed. Nerd out.</p>
      </div>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>

<% end %>