

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
    	<%= render 'layouts/playlist' %>
    </div>
    <div class="span8">
      <%= render 'layouts/startup' %>
    </div>
  </div>
</div>