<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <%= render 'layouts/startup' %>
    </div>
    <div class="span8">
      <%= render 'layouts/playlist' %>
    </div>
  </div>
</div>


<%= render 'layouts/footer' %>